@media (max-width: 600px) {
    html{
        height: 300vh;
    }
    body{
        /* height: 1000vh; */
        margin: 0;
    }

    /* nav.html */
    #gototop{
        border: 1px solid blue;
        width: 50px;
        height: 50px;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        border-radius: 50%;
        right: 10px;
        bottom: 40px;
        visibility: hidden;
        font-size: 12px;
        font-weight: 700;
    }

    /* search.html */
    #search_title{
        text-align: center;
    }
    #search_content{
        margin-top: 60px;
        text-align: center;
    }
    #search_content input{
        height: 30px;
        font-size: 20px;
    }

    /* index.html */
    #main_first i:hover{
        color: gold;
        cursor: pointer;
    }
    #main_second{
        padding: 0% 4%;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    #main_second_select{
        padding: 10px 32px 10px 8px;
    }
    #main_second_button{
        display: flex;
        align-items: center;
    }
    #main_second_button_candidate_on{
        border: 1px solid black;
        padding: 8px 4px;
        margin-left: 1%;
        width: 80px;
        text-align: center;
        border-radius: 10px;
        background-color: black;
        color: white;
    }
    #main_second_button_candidate_off{
        border: 1px solid black;
        padding: 8px 4px;
        margin-left: 1%;
        width: 80px;
        text-align: center;
        border-radius: 10px;
        background-color: white;
        color: black;
    }
    #main_second_button div:hover{
        background-color: gray;
        cursor: pointer;
    }
    #gototop:hover{
        visibility: visible;
        cursor: pointer;
        background-color: blue;
    }
    #main_first_field_box_set div:hover{
        background-color: gray;
        color: white;
        cursor: pointer;
    }
    #main_filter i:hover{
        color: gold;
        cursor: pointer;
    }
    #main_compare:hover{
        background-color: gold;
        cursor: pointer;
    }

    /* detail.html */
    #detail_head i:hover{
        color: gold;
        cursor: pointer;
    }
}

